@use 'variables' as *;

.settings {
  &__preview_da_projects {
    background: $color-da-projects-preview;
    align-items: end;
  }

  &__preview_da_projects_content {
    position: relative;
    width: min(100%, 430px);
    height: 345px;
    margin-bottom: 53px;
  }

  &__preview_da_projects_board {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: min(347px, calc(100% - 20px));
    height: 256px;
    transform: translateX(-50%);
  }

  &__preview_da_projects_board_card,
  &__preview_da_projects_board_card_left {
    position: absolute;
    width: min(180px, 52%);
    height: auto;
    aspect-ratio: 6 / 5;
    border-radius: 13px;
    box-shadow: 4px 4px 8px $color-da-projects-card-shadow;
  }

  &__preview_da_projects_board_card {
    right: 0;
    bottom: 10px;
    display: grid;
    background-color: $color-white;
    place-items: center;
  }

  &__preview_da_projects_poll_back {
    width: 80px;
    height: 80px;
  }

  &__preview_da_projects_board_card_left {
    top: 19px;
    left: 10px;
    display: grid;
    background-color: $color-da-projects-blue-dark;
    place-items: center;
  }

  &__preview_da_projects_pc_container,
  &__preview_da_projects_pc {
    width: 73px;
    height: 60px;
  }

  &__preview_da_projects_pc_container {
    opacity: 0.2;
  }

  &__preview_da_projects_header {
    position: relative;
    display: flex;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background-color: $color-white;
    align-items: center;
    justify-content: space-between;
  }

  &__preview_da_projects_header_center {
    position: absolute;
    left: 50%;
    display: flex;
    width: 77px;
    height: 16px;
    align-items: center;
    transform: translateX(-50%);
  }

  &__preview_da_projects_current_player {
    width: 56px;
    height: 10px;

    > p {
      margin: 0;
      color: $color-da-projects-blue-dark;
      font-size: 8px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  &__preview_da_projects_current_player_icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  &__preview_da_projects_header_right {
    display: flex;
    width: 84px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: $color-da-projects-preview;
    align-items: center;
    justify-content: space-around;
  }

  &__preview_da_projects_exit_icon_container {
    display: grid;
    width: 12px;
    height: 12px;
    margin-left: 9.5px;
    place-items: center;
  }

  &__preview_da_projects_exit_icon {
    width: 10px;
    height: 9px;
  }

  &__preview_da_projects_exit_text {
    width: 46px;
    height: 12px;
    margin-right: 8px;

    > p {
      margin: 0;
      color: $color-da-projects-blue-dark;
      font-size: 10px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  &__preview_da_projects_header_left {
    display: flex;
    width: 69px;
    height: 20px;
    margin-left: 16px;
    align-items: center;
    justify-content: space-between;
  }

  &__preview_da_projects_header_left_first,
  &__preview_da_projects_header_left_second {
    height: 12px;
  }

  &__preview_da_projects_header_left_first {
    display: flex;
    width: 19px;
    margin-left: 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__preview_da_projects_header_left_second {
    display: flex;
    width: 18px;
    margin-right: 8px;
    align-items: center;
    justify-content: space-between;
  }

  &__preview_da_projects_pawn {
    width: 8px;
    height: 10px;
  }

  &__preview_da_projects_score,
  &__preview_da_projects_score_blue {
    width: 7px;
    height: 14px;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
  }

  &__preview_da_projects_score {
    color: $color-da-projects-orange;
  }

  &__preview_da_projects_score_blue {
    height: 12px;
    color: $color-blue;
    font-size: 10px;
  }
}
