@use 'variables' as *;

.game_over {
  width: 100%;
  min-height: 100vh;
  background-color: $color-background;
}

.game_over__content {
  position: relative;
  width: 991px;
  height: 367px;
  margin: 303px auto 0;
  background-color: gray;
}

.game_over__heading {
  display: grid;
  width: 991px;
  height: 125px;
  place-items: center;
}

.game_over__title {
  display: grid;
  width: 990px;
  height: 125px;
  margin: 0;
  place-items: center;
  color: $color-preview-border;
  font-family: 'Anek Telugu', Arial, sans-serif;
  font-size: 162px;
  font-weight: 800;
  font-stretch: expanded;
  line-height: 121px;
  outline: none;
  text-align: center;
  white-space: nowrap;
}

.game_over__title_text {
  display: grid;
  width: 990.5px;
  height: 125px;
  place-items: center;
  transform: translateY(25px);
  filter:
    drop-shadow(-2px -2px 0 $color-white)
    drop-shadow(-3px 5px 4px $color-draw-shadow);
}

.game_over__score {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 323px;
  height: 118px;
  background-color: darkblue;
  transform: translateX(-50%);
}

.game_over__score_title {
  display: grid;
  width: 323px;
  height: 32px;
  margin: 0;
  place-items: center;
  font-family: 'Red Rose', Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
