$color-background: #303131;
$color-surface: #3a3b3b;
$color-text: #f8f8f4;
$color-accent: #fff45c;
$color-focus: #4bd0c1;
$color-focus-light-surface: #006b60;
$color-settings-text: #303131;
$color-blue: #097fc5;
$color-white: #ffffff;
$color-footer-background: #f6f6f6;
$color-preview-surface: rgb(80 129 119);
$color-preview-blue: #2bb1ff;
$color-preview-orange: #f58e39;
$color-preview-border: #4dd5bc;
$color-step-divider: #f0ea6e;
$settings-context-width: 1103px;
$settings-context-height: 539px;
$settings-header-height: 67px;
$settings-row-gap: 50px;
$settings-minimum-top-space: 32px;
