@media (min-width: 1440px) {
  .home__controller {
    top: calc(50% + 34px);
    left: calc(50% - 808px);
  }

  .settings {
    align-content: center;
  }

  .settings__header {
    margin-top: 0;
  }

  .game {
    align-items: center;
    padding-top: 0;
  }

  .game__container_da_projects,
  .game__container_da_projects.game__container_4x6 {
    margin-top: 0;
  }

  .game_over,
  .game_over.game_result_da_projects {
    display: grid;
    padding-top: 0;
    place-items: center;
  }

  .game_over__content,
  .game_over.game_result_da_projects .game_over__da_projects_content {
    margin: 0;
  }

  .game_result__winner_content,
  .game_result_da_projects .game_result__winner_content {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  .game_result__confetti {
    width: 3216px;
    max-width: 100%;
  }
}
