@use '../base/base';
@use '../pages/game-over';

@media (min-width: 1440px) {
  .game_over,
  .game_over.game_result_da_projects {
    display: grid;
    padding-top: 0;
    place-items: center;
  }

  .game_over__content,
  .game_over.game_result_da_projects .game_over__da_projects_content {
    margin: 0;
  }
}
